<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

<body>
	   <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/slicknav.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/flaticon.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/gijgo.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/animate.min.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/animated-headline.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/fontawesome-all.min.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/themify-icons.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/slick.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/nice-select.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/style.css')}}">
</head>
	<header>
        <!--? Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                     
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav> 
                                        <ul id="navigation">
                                            <li><a href="/">Accueil</a></li>
                                            <li><a href="/Ressources">Ressources</a></li>
                                            <li><a href="/Service">Services</a></li>
                                            <li><a href="/Annuaire">Annuaire</a> </li>
                                               
                               
                                            <li><a href="/login">Connexion</a></li>
                                            <li><a href="/inscription">Inscription</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                
                            </div>
                        </div>   
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
	<div>
<p align="center"><iframe src="https://www.google.com/maps/d/u/0/embed?mid=1ndenrnsDh75AH9iJqP0166r-6zKeJzx5" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" ></iframe></p></body></div>

</html>