{% extends "base.html.twig" %}
{% block content %}
<div class="container">
<h3> Les demandes</h3>
<table class="table table-striped table-hover" BGCOLOR="#ccffaa">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Adresse</th>
            <th>Télèphone</th>
            <th>Fax</th>
            <th>Email</th>
            <th>Objet</th>
            <th>message</th>
            
        <tr>
    </thead>
    <tbody>
    {% if demandes is defined %}
      {% for Demande in demandes %}
        <tr>
            <td>{{ Demande.nom }}</td>
            <td>{{ Demande.prenom }}</td>
            <td>{{ Demande.adresse }}</td>
            <td>{{ Demande.telephone }}</td>
            <td>{{ Demande.fax }}</td>
            <td>{{ Demande.email }}</td>
            <td>{{ Demande.objet }}</td>
            <td>{{ Demande.message }}</td>
            
            
        </tr>
        {% else %}
        <tr>
            <td>pas de demande</td>
            
        </tr>
        {% endfor %}
        {% endif %}
     </tbody>
</table>
</div>
<div class="container">
<h3> Les offres</h3>
<table class="table table-striped table-hover" BGCOLOR="#ccffaa">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Adresse</th>
            <th>Télèphone</th>
            <th>Fax</th>
            <th>Email</th>
            <th>Objet</th>
            <th>message</th>
            
        <tr>
    </thead>
    <tbody>
    {% if offres is defined %}
      {% for offre in offres %}
        <tr>
            <td>{{ offre.nom }}</td>
            <td>{{ offre.prenom }}</td>
            <td>{{ offre.adresse }}</td>
            <td>{{ offre.telephone }}</td>
            <td>{{ offre.fax }}</td>
            <td>{{ offre.email }}</td>
            <td>{{ offre.objet }}</td>
            <td>{{ offre.message }}</td>
            
            
        </tr>
        {% else %}
        <tr>
            <td>pas d'offre'</td>
            
        </tr>
        {% endfor %}
        {% endif %}
     </tbody>
</table>
</div>
{% endblock %}
