<!DOCTYPE html>
<html lang="en">
<head>
	<title>Table V04</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{asset('bundles/RessourceBundle/images/icons/favicon.ico')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('bundles/RessourceBundle/vendor/bootstrap/css/bootstrap.min.css')}}">

	<link rel="stylesheet" type="text/css" href="{{asset('bundles/RessourceBundle/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('bundles/RessourceBundle/vendor/animate/animate.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('bundles/RessourceBundle/vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('bundles/RessourceBundle/vendor/perfect-scrollbar/perfect-scrollbar.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('bundles/RessourceBundle/css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('bundles/RessourceBundle/css/main.css')}}">
<!--===============================================================================================-->
  <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/slicknav.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/flaticon.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/gijgo.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/animate.min.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/animated-headline.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/fontawesome-all.min.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/themify-icons.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/slick.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/nice-select.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/style.css')}}">
    <style>
 .mon-bouton1 {
  border: none;
  font-weight: bold; /* gras */
  font-size: 1.6rem; /* si le texte devient piti, mettre la valeur 1.6rem */
  color: white; /* blanc sur rouge foncé */
  background: rgb(0, 100, 139);
}
.mon-bouton2 {
  border: none;
  font-weight: bold; /* gras */
  font-size: 1.6rem; /* si le texte devient piti, mettre la valeur 1.6rem */
  color: white; /* blanc sur rouge foncé */
  background: rgb(0, 139, 30);
}
 </style>
</head>
<body>
 <header>
        <!--? Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                    
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav> 
                                        <ul id="navigation">
                                            <li><a href="/">Accueil</a></li>
                                            <li><a href="/Ressources">Ressources</a></li>
                                            <li><a href="/Service">Services</a></li>
                                            <li><a href="/Annuaire">Annuaire</a> </li>
                                            <li><a href="/login">Connexion</a></li>
                                            <li><a href="/inscription">Inscription</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                
                            </div>
                        </div>
					</div>
					
				</div>
            </div>
        </div>			
					
    </header>	
 
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver1 m-b-110">
					<div class="table100-head">
						<table>
							<thead>
								<tr class="row100 head">
									<th class="cell100 column1"colspan="3" >Ressources Humaines</a></th>
									<th class="cell100 column2"colspan="3">Ressources Matérielles et locales</a></th>
									
								</tr>
								
							</thead>
						</table>
					</div>

					<div class="table100-body js-pscroll">
						<table>
							<tbody>
							    <TR >
        <TH>Staff médical
        <TH>Staff technique
        <TH> Autres
        <TH>équipements médicaux
         <TH>transports sanitaires 
         <TH> Ressources locales 
   
   
								<tr class="row100 body">
									<TD>Médecin-généraliste ¦ Médecin-spécialiste
        <TD>Technicien en machine
        <TD>Soudeur
        <TD>Accessoires et consommables
        <TD>Ambulance légère
            <TD>Fournitures divers
								</tr>

								<tr class="row100 body">
									 <TD >Médecin-dentiste ¦ Médecin-dentiste 
        <TD>Responsable d'applications hospitalières
        <TD>cuisinier
        <TD>Appareils d'anesthésie
        <TD>Ambulance de soins d'urgence (ASSU, VPS ou VPSP)
								</tr>

								<tr class="row100 body">
									 <TD>Vétérinaire
        <TD>Responsable des services techniques généraux
        <TD>femme de ménage
        <TD>Monitorage patient 
        <TD>Ambulance de soins intensifs (UMH, AR)
            <TD>
								</tr>

								<tr class="row100 body">
									 <TD>Psychothérapeute
        <TD>Responsable de systèmes d'information et télécoms
        <TD>jardinier
        <TD>Ventilation et monitorage respiratoire
        <TD>Véhicule sanitaire léger (VSL)
            <TD>
								</tr>

								<tr class="row100 body">
									 <TD>Aide-soignant
        <TD>Responsable équipements et installations
        <TD>concierge
        <TD>Thermorégulation
        <TD>Véhicule de liaison médical (VLM)
            <TD>
								</tr>

								<tr class="row100 body">
									        <TD>Assistant d’hygiène sociale
        <TD>
        <TD>
        <TD>Ventilation néonatale
            <TD>
            <TD>
								</tr>

								<tr class="row100 body">
									<TD>Assistant social
        <TD>
        <TD>
        <TD>Eclairages médicaux
            <TD>
                <TD>
								</tr>

								<tr class="row100 body">
									<TD>Assistant technique médical de chirurgie
        <TD>
        <TD>
        <TD>Gants en caoutchouc à usage chirurgical
            <TD>
                <TD>
								</tr>

								<tr class="row100 body">
									<TD>Assistant technique médical de laboratoire
        <TD>
        <TD>
        <TD>Gants en caoutchouc à examination
            <TD>
                <TD>
								</tr>

								<tr class="row100 body">
									<TD>Assistant technique médical de radiologie
        <TD>
        <TD>
        <TD>Appareils électromédicaux
            <TD>
								</tr>

								<tr class="row100 body">
									 <TD>Diététicien
        <TD>
        <TD>
        <TD>défibrillateurs
        <TD>
        <TD>  
								</tr>

								<tr class="row100 body">
									  <TD>Ergothérapeute
        <TD>
        <TD>
        <TD>insufflateurs
            <TD>
                <TD>
								</tr>

								<tr class="row100 body">
									 <TD>Infirmier
        <TD>
        <TD>
        <TD>sacs d’interventions
								</tr>

								<tr class="row100 body">
									<TD>Infirmier en anesthésie et réanimation
        <TD>
        <TD>
        <TD>appareils de diagnostic

            <TD>
                <TD>
								</tr>

								<tr class="row100 body">
									        <TD>Infirmier gradué
        <TD>
        <TD>
        <TD>machine à gaz médicaux
    <TD>
        <TD>

								</tr>

								<tr class="row100 body">
									 <TD>Infirmier en pédiatrie
        <TD>
        <TD>
        <TD> valve 
            <TD>
                <TD>>
								</tr>

								<tr class="row100 body">
									 <TD>Infirmier psychiatrique
        <TD>
        <TD>
        <TD>Matériel Cryogénique : réservoirs d’azote liquide
            <TD>
                <TD>
								</tr>

								<tr class="row100 body">
									 <TD>Laborantin
        <TD>
        <TD>
        <TD>
            <TD>
        <TD>
								</tr>

								<tr class="row100 body">
									 <TD>Masseur - Kinésithérapeute
        <TD>
        <TD>
        <TD>
            <TD>
        <TD>
								</tr>

								<tr class="row100 body">
									<TD>Orthophoniste
        <TD>
        <TD>
        <TD>
            <TD>
        <TD>
								</tr>

								<tr class="row100 body">
									 <TD>Orthoptiste
        <TD>
        <TD>
        <TD>
            <TD>
        <TD>
								</tr>

								<tr class="row100 body">
									 <TD>Ostéopathe
        <TD>
        <TD>
        <TD>
            <TD>
        <TD>
								</tr>
								    <TR>
        <TD>Podologue
        <TD>
        <TD>
        <TD>
            <TD>
        <TD>
    <TR>
        <TD>Rééducateur en psychomotricité
        <TD>
        <TD>
        <TD>
            <TD>
        <TD>
    <TR>
        <TD>Sage-femme
        <TD>
        <TD>
        <TD>
            <TD>
        <TD>
							</tbody>
						</table>
                    </div>
                    
                </div>
                <p align="center">
    
                    <input type=button onclick=window.location.href='/Demande'; value='Faire une demande' class="mon-bouton1"/><br>
                    <input type=button onclick=window.location.href='/add'; value='Proposer une offre' class="mon-bouton2"  />
                </p>
				

<!--===============================================================================================-->	
	<script src="{{asset('bundles/RessourceBundle/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{asset('bundles/RessourceBundle/vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{asset('bundles/RessourceBundle/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{asset('bundles/RessourceBundle/vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{asset('bundles/RessourceBundle/vendor/perfect-scrollbar/perfect-scrollbar.min.js')}}"></script>
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});
			
		
	</script>
<!--===============================================================================================-->
	<script src="{{asset('bundles/RessourceBundle/js/main.js')}}"></script>

</body>
</html>