<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>medical</title>
    <link rel="icon" href="{{asset('bundles/ServiceBundle/img/favicon.png')}}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{asset('bundles/ServiceBundle/css/bootstrap.min.css')}}">
    <!-- animate CSS -->
    <link rel="stylesheet" href="{{asset('bundles/ServiceBundle/css/animate.css')}}">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="{{asset('bundles/ServiceBundle/css/owl.carousel.min.css')}}">
    <!-- themify CSS -->
    <link rel="stylesheet" href="{{asset('bundles/ServiceBundle/css/themify-icons.css')}}">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="{{asset('bundles/ServiceBundle/css/flaticon.css')}}">
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="{{asset('bundles/ServiceBundle/css/magnific-popup.css')}}">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="{{asset('bundles/ServiceBundle/css/nice-select.css')}}">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="{{asset('bundles/ServiceBundle/css/slick.css')}}">
    <!-- style CSS -->
    <link rel="stylesheet" href="{{asset('bundles/ServiceBundle/css/style.css')}}">
    
	   <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/slicknav.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/flaticon.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/gijgo.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/animate.min.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/animated-headline.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/fontawesome-all.min.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/themify-icons.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/slick.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/nice-select.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/AccueilBundle/assets/css/style.css')}}">
</head>
  <header>
        <!--? Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                    
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav> 
                                        <ul id="navigation">
                                            <li><a href="/">Accueil</a></li>
                                            <li><a href="/Ressources">Ressources</a></li>
                                            <li><a href="/Service">Services</a></li>
                                            <li><a href="/Annuaire">Annuaire</a> </li>
                                               
                               
                                            <li><a href="/login">Connexion</a></li>
                                            <li><a href="/inscription">Inscription</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                
                            </div>
                        </div>
					</div>
					
				</div>
            </div>
        </div>			
					
	</header>	

<body>
    
    <!-- Header part end-->

    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-xl-5">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                          
                            <h1>SOS MÉDECINS Tunis</h1>
                            <p> 

Proposant une prise en charge des urgences médicales et des soins de médecine générale non programmés, 7j/7 et 24h/24 à Tunis SOS Médecins assure les visites de médecine générale, d’urgence, de permanence et de continuité des soins, à votre domicile, sur votre lieu de travail ou encore en l’absence de votre médecin traitant.

Dès la réception de votre appel ou de votre demande de visite médicale à domicile SOS Médecins via notre interface Internet, nos équipes vous conseillent et vous accompagnent dans les meilleures conditions, pendant que vous attendez l’arrivée du médecin urgentiste.

Pour toute demande, contactez-nous</p>
                            <a href="#" class="btn_2">
Prendre un rendez-vous</a>

                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner_img">
                        <img src="{{asset('bundles/ServiceBundle/img/banner_img.png')}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->

    <!--::regervation_part start::-->
    <section class="regervation_part section_padding">
              <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-xl-5">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                          
                            <h1>Contacter nous au <br> +(216)98 000 001<br>Au service du patient 24h/24 7j/7 </h1>
  

                        </div>
                    </div>
                </div>
        <div class="container">
            <div class="row align-items-center regervation_content">
                <div class="col-lg-7">
                    <div class="regervation_part_iner">
                        <form>
                            <h2>Prendre un rendez-vous</h2>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="Nom">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="password" class="form-control" id="inputPassword4"
                                        placeholder="Email ">
                                </div>
                                <div class="form-group col-md-6">
                                    <select class="form-control" id="Select">
                                        <option value="1" selected>Selectionner un service</option>
                                        <option value="2">Name of service</option>
                                        <option value="3">Name of service</option>
                                        <option value="4">Name of service</option>
                                        <option value="5">Name of service</option>
                                    </select>
                                </div>
                                <div class="form-group time_icon col-md-6">
                                    <select class="form-control" id="Select2">
                                        <option value="" selected>Temps</option>
                                        <option value="1">8h à 10h/option>
                                        <option value="1">10h à 12h</option>
                                        <option value="1">12h à 14h</option>
                                        <option value="1">14h à 16h</option>
                                        <option value="1">16h à 18h</option>
                                        <option value="1">18h à 20h</option>
                                        
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea class="form-control" id="Textarea" rows="4"
                                        placeholder="Your Note "></textarea>
                                </div>
                            </div>
                            <div class="regerv_btn">
                                <a href="#" class="btn_2">Prendre un rendez-vous</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="reservation_img">
                        <img src="{{asset('bundles/ServiceBundle/img/reservation.png')}}" alt="" class="reservation_img_iner">
                    </div>
                </div>
            </div>
        </div>

    </section>
 

    <script src="{{asset('bundles/ServiceBundle/js/jquery-1.12.1.min.js')}}"></script>
    <!-- popper js -->
    <script src="{{asset('bundles/ServiceBundle/js/popper.min.js')}}"></script>
    <!-- bootstrap js -->
    <script src="{{asset('bundles/ServiceBundle/js/bootstrap.min.js')}}"></script>
    <!-- owl carousel js -->
    <script src="{{asset('bundles/ServiceBundle/js/owl.carousel.min.js')}}"></script>
    <script src="{{asset('bundles/ServiceBundle/js/jquery.nice-select.min.js')}}"></script>
    <!-- contact js -->
    <script src="{{asset('bundles/ServiceBundle/js/jquery.ajaxchimp.min.js')}}"></script>
    <script src="{{asset('bundles/ServiceBundle/js/jquery.form.js')}}"></script>
    <script src="{{asset('bundles/ServiceBundle/js/jquery.validate.min.js')}}"></script>
    <script src="{{asset('bundles/ServiceBundle/js/mail-script.js')}}"></script>
    <script src="{{asset('bundles/ServiceBundle/js/contact.js')}}"></script>
    <!-- custom js -->
    <script src="{{asset('bundles/ServiceBundle/js/custom.js')}}"></script>
</body>

</html>